<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand">{{pageTitle}}</a>
      <ul class="nav navbar-nav">
        <li><a [routerLink]='["/welcome"]'>Home</a></li>
        <li><a [routerLink]='["/products"]'>Product List</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
