<div class="crop"
     [style.width.px]='starWidth'
     [title]='rating'
     (click)='onClick()'>
  <div style='width: 86px;'>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
  </div>
</div>
