<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>
  <div class="panel-body" *ngIf='product'>
    <div class='col-md-8'>
      <div class="row">
        <div class="col-md-3">Name:</div>
        <div class="col-md-6">{{product.productName}}</div>
      </div>
      <div class="row">
        <div class="col-md-3">Code:</div>
        <div class="col-md-6">{{product.productCode}}</div>
      </div>
      <div class="row">
        <div class="col-md-3">Description:</div>
        <div class="col-md-6">{{product.description}}</div>
      </div>
      <div class="row">
        <div class="col-md-3">Availability:</div>
        <div class="col-md-6">{{product.releaseDate}}</div>
      </div>
      <div class="row">
        <div class="col-md-3">Price:</div>
        <div class="col-md-6">{{product.price | currency:'USD':true:'1.2-2'}}</div>
      </div>
      <div class="row">
        <div class="col-md-3">Rating: </div>
        <div class="col-md-6"><ai-star [rating]='product.starRating'></ai-star></div>
      </div>
    </div>
    <div class="col-md-4">
      <img [src]='product.imageUrl' [title]='product.productName' [style.width.px]='150'/>
    </div>
  </div>
  <div class="panel-footer">
      <a class='btn btn-default'
         style='width:80px;'
         (click)='onBack()'>
        <i class="glyphicon glyphicon-chevron-left"></i>Back
      </a>
  </div>
</div>
